<nav
  class="navbar navbar-expand-sm navbar-dark bg-dark"
>
  <a class="navbar-brand m-auto" href="#">MG</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  ></button>
  
</nav> 
<section>
  <input type="text" [(ngModel)]="searchvalue" placeholder="Search" class="form-control w-25 m-auto mt-3 shadow-lg"  >
  <div class="container">
    <div class="row pt-3">
      <div class="col-md-4 mt-2 " *ngFor="let customer of clients | serch:searchvalue">
        <div class="card text-center">
          <div class="card-header">
            Customer ID  : {{customer.id}}
          </div>
          <div class="card-body">
            <h5 class="card-title" >   {{customer.name}} </h5>
            <p class="card-text"> </p>
            <button  class="btn btn-primary" (click)="viewDetails2(customer.id)">See Details </button>
          </div>
          <div class="card-footer text-body-secondary">
            {{total[customer.id]}} EGP          </div>
        </div>
      </div>
    </div>
  </div>
 
  
</section>  

<div>
  <div class="row" id="rw">
    <div class="col-md-8 m-auto pt-3">
      <div>
        <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>    
    </div>         
    </div>
  </div>
</div>
